@import url("https://fonts.googleapis.com/css?family=Inconsolata:400,400i,700");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html, body {
  height: 100%;
}

body {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background: no-repeat center/cover url("../images/pawel-janiak-wkttyGiRWNw-unsplash.jpg");
  perspective: 2000px;
  transform-style: preserve-3d;
  overflow: hidden;
}

.logo {
    display: flex;
    justify-content: center;
    padding-bottom: 1rem;
    padding-left: 1rem;
    padding-right: 1rem;
}

.mainLogo {
    width: 25%;
}

.cardboxes {
    display: flex;
}

.black {
  position: absolute;
  left: 0;
  top: 0;
  height: 100%;
  width: 100%;
  background: rgba(0, 0, 0, 0.5);
}

.card {
  border-radius: 20px;
  box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.5);
  margin: 20px;
  width: 300px;
  min-width: 300px;
  height: 400px;
  position: relative;
  overflow: hidden;
  display: flex;
  justify-content: center;
  
  perspective: 1000px;
  transform-style: preserve-3d;
}

.night.initial .card__background {
  z-index: 0;
  position: absolute;
  left: -20px;
  top: -10px;
  height: 350px;
  width: 350px;
  background: no-repeat center/cover url('../img_new/purpdude.png');
}

.night.revival .card__background {
  z-index: 0;
  position: absolute;
  left: -50px;
  top: -100px;
  height: 500px;
  width: 400px;
  background: no-repeat center/cover url('../img_new/musha.png');
}

.serena.initial .card__background {
  z-index: 0;
  position: absolute;
  left: -60%;
  top: -10px;
  bottom: -10px;
  height: 420px;
  width: 600px;
  background: no-repeat center/cover url('../img_new/uwshirt.png');
}

.serena.revival .card__background {
  z-index: 0;
  position: absolute;
  left: -60%;
  top: -10px;
  bottom: -10px;
  height: 420px;
  width: 600px;
  background: no-repeat center/cover url('../img_new/airwshirt.png');
}

.card__title {
  z-index: 2;
  position: absolute;
  bottom: 10px;
  font-size: 20px;
  text-transform: uppercase;
  letter-spacing: 2px;
  width: 100%;
  text-align: center;
  font-family: Inconsolata, sans-serif;
}

.night.initial .card__title {
  background: linear-gradient(to bottom, #D50000, rgba(255, 255, 255, 0.5));
  background-clip: text;
  -webkit-background-clip: text;
  color: transparent;
}

.night.revival .card__title {
  background: linear-gradient(to bottom, #1A237E, rgba(255, 255, 255, 0.5));
  background-clip: text;
  -webkit-background-clip: text;
  color: transparent;
}

.serena.initial .card__title {
  background: linear-gradient(to bottom, #3D5AFE, rgba(255, 255, 255, 0.5));
  background-clip: text;
  -webkit-background-clip: text;
  color: transparent;
}

.serena.revival .card__title {
  background: linear-gradient(to bottom, #FFF59D, rgba(255, 255, 255, 0.5));
  background-clip: text;
  -webkit-background-clip: text;
  color: transparent;
}

@media (max-width: 850px) {
    .logo {
        position: absolute;
        top:5%;
    }

    .mainLogo {
        width: 75%;
    }
    
    .cardboxes {
        display: flex;
        flex-wrap: wrap;
        flex-direction: row;
    }

    .cardboxes > div {
        display: flex;
        flex-basis: calc(50% - 40px);

        justify-content: center;
        flex-direction: column;
    }


    .card {
        width: 150px;
        min-width: 150px;
        min-height: 200px;
        height: 200px;
    }

}