@import url("https://fonts.googleapis.com/css?family=Inconsolata:400,400i,700");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html, body {
  height: 100%;
}

body {
  display: grid;
  justify-content: center;
  align-items: center;
  background: center url("../images/pawel-janiak-wkttyGiRWNw-unsplash.jpg");
  perspective: 2000px;
  transform-style: preserve-3d;
  overflow: visible;
}

.logo {
    display: flex;
    justify-content: center;
    padding-bottom: 1rem;
    padding-left: 1rem;
    padding-right: 1rem;
}

.mainLogo {
  width: 25%;
}

.cardboxes {
    display: flex;
}

.black {
  position: absolute;
  left: 0;
  top: 0;
  height: 100%;
  width: 100%;
  background: rgba(0, 0, 0, 0.5);
}

.card {
  border-radius: 20px;
  
  box-shadow: 10px 10px 15px rgba(0, 0, 0, 0.85);
  margin: 1rem;
  width: 18.75rem;
  min-width: 18.75rem;
  height: 25rem;
  position: relative;
  overflow: hidden;
  display: flex;
  justify-content: center;
  
  perspective: 62.5rem;
  transform-style: preserve-3d;
}

.night.initial .card__background {
  z-index: 0;
  position: absolute;
  top: -10%;
  height: 120%;
  width: 120%;
  background: no-repeat center/cover url('../img_new/purpdudenew2.jpg');
}

.night.revival .card__background {
  z-index: 0;
  position: absolute;
  top: -10%;
  height: 120%;
  width: 120%;
  background: no-repeat center/cover url('../img_new/mushanew.jpg');
}

.serena.initial .card__background {
  z-index: 0;
  position: absolute;
  top: -10%;
  height: 120%;
  width: 120%;
  background: no-repeat center/cover url('../img_new/uwshirtnew.jpg');
}

.serena.revival .card__background {
  z-index: 0;
  position: absolute;
  top: -10%;
  height: 120%;
  width: 120%;
  background: no-repeat center/cover url('../img_new/airwshirtnew.jpg');
}

.johnson.initial .card__background {
  z-index: 0;
  position: absolute;
  top: -10%;
  height: 120%;
  width: 120%;
  background: no-repeat center/cover url('../img_new/birdone.jpg');
}

.johnson.revival .card__background {
  z-index: 0;
  position: absolute;
  top: -10%;
  height: 120%;
  width: 120%;
  background: no-repeat center/cover url('../img_new/airhoodie.jpg');
}

.card__title {
  z-index: 2;
  position: absolute;
  bottom: 10px;
  font-size: 20px;
  text-transform: uppercase;
  letter-spacing: 2px;
  width: 100%;
  text-align: center;
  font-family: Inconsolata, sans-serif;
}

.night.initial .card__title {
  background: linear-gradient(to bottom, #D50000, rgb(255, 255, 255));
  background-clip: text;
  -webkit-background-clip: text;
  color: transparent;
}

.night.revival .card__title {
  background: linear-gradient(to bottom, #1A237E, rgba(255, 255, 255));
  background-clip: text;
  -webkit-background-clip: text;
  color: transparent;
}

.serena.initial .card__title {
  background: linear-gradient(to bottom, #3D5AFE, rgba(255, 255, 255));
  background-clip: text;
  -webkit-background-clip: text;
  color: transparent;
}

.serena.revival .card__title {
  background: linear-gradient(to bottom, #FFF59D, rgba(255, 255, 255));
  background-clip: text;
  -webkit-background-clip: text;
  color: transparent;
}

.johnson.initial .card__title {
  background: linear-gradient(to bottom, #1eff00, rgba(255, 255, 255));
  background-clip: text;
  -webkit-background-clip: text;
  color: transparent;
}

.johnson.revival .card__title {
  background: linear-gradient(to bottom, #FFF59D, rgba(255, 255, 255));
  background-clip: text;
  -webkit-background-clip: text;
  color: transparent;
}

.cost {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #ffffff69;
  width: 100%;
  margin-top: 1rem;
  border-bottom: 2px solid #000;
}

.costhoodie {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #ffffff69;
  width: 100%;
  margin-bottom: 1rem;
}

.disclaimer {
  display: block;
  background-color: #f110103f;
  width: 24rem;
  height: 5rem;
  border: 2px solid #000;
  border-color: rgb(0, 0, 0);
  color:rgb(255, 255, 255);
  font-family: Arial, Helvetica, sans-serif;
  text-decoration: none;
  text-align: center;
}

.disclaimer > p {
  margin-left: 1rem;
  margin-right: 1rem;
}

.discord {
  margin-top: 5px;
  width: 2rem;
  filter: invert(77%) sepia(50%) saturate(5975%) hue-rotate(200deg) brightness(91%) contrast(87%);
}

@media (max-width: 850px) {
  .logo {
    padding-bottom: .5rem;
  }

  .mainLogo {
      width: 75%;
  }

  .discord {
    width: 2rem;
    filter: invert(77%) sepia(50%) saturate(5975%) hue-rotate(200deg) brightness(91%) contrast(87%);
  }
  
  
  .cardboxes {
      justify-content: center;
      display: flex;
      flex-wrap: wrap;
      flex-direction: row;
  }

  .cardboxes > div {
      display: flex;
      flex-basis: calc(50% - 2.5rem);

      justify-content: center;
      flex-direction: column;
  }

  .card {
      margin:5px;
      width: 9.375rem;
      min-width: 9.375rem;
      min-height: 12.5rem;
      height: 12.5rem;
  }

  .night.initial .card__background {
    z-index: 0;
    position: absolute;
    height: 120%;
    width: 120%;
    background: no-repeat center/cover url('../img_new/purpdudenew2.jpg');
  }
  
  .night.revival .card__background {
    z-index: 0;
    position: absolute;
    height: 120%;
    width: 120%;
    background: no-repeat center/cover url('../img_new/mushanew.jpg');
  }
  
  .serena.initial .card__background {
    z-index: 0;
    position: absolute;
    height: 120%;
    width: 120%;
    background: no-repeat center/cover url('../img_new/uwshirtnew.jpg');
  }
  
  .serena.revival .card__background {
    z-index: 0;
    position: absolute;
    height: 120%;
    width: 120%;
    background: no-repeat center/cover url('../img_new/airwshirtnew.jpg');
  }

  
  .costimg {
    width: 90%;
  }

  /** following is unchanged. delete if don't change. **/
  .card__title {
    z-index: 2;
    position: absolute;
    bottom: 10px;
    font-size: 20px;
    text-transform: uppercase;
    letter-spacing: 2px;
    width: 100%;
    text-align: center;
    font-family: Inconsolata, sans-serif;
  }

  .disclaimer {
    display: block;
    margin: auto;
    background-color: #f110103f;
    width: 24rem;
    height: 5rem;
    border: 2px solid #000;
    border-color: rgb(0, 0, 0);
    color:rgb(255, 255, 255);
    font-family: Arial, Helvetica, sans-serif;
    text-decoration: none;
  }

}

@media (max-width: 450px) {
  .disclaimer {
    display: block;
    margin: auto;
    background-color: #f110103f;
    width: 24rem;
    height: 5rem;
    border: 2px solid #000;
    border-color: rgb(0, 0, 0);
    color:rgb(255, 255, 255);
    font-family: Arial, Helvetica, sans-serif;
    text-decoration: none;
  }
}