@import url(https://fonts.googleapis.com/css2?family=Permanent+Marker&family=Roboto&display=swap);

body {
  font-family: "Roboto", sans-serif;
  background-color: rgb(14, 14, 14);
}

a {
  color: inherit;
  text-decoration: none;
}

h1 {
  font-family: "Permanent Marker", cursive;
  font-size: 3.5rem;
  font-weight: 500;
  padding-top: 4rem;
  -webkit-text-stroke-width: 2px;
  -webkit-text-fill-color: #fff;
  text-shadow: 5px 5px 2px #000;
  /*text-align: center;*/
}

h2 {
  font-weight: 400;
  font-size: 1rem;
  text-transform: capitalize;
  margin: 0;
}

img {
  display: block;
  width: 100%;
}

main {
  max-width: 900px;
  border: 2px solid rgba(0, 0, 0, 0.411);
  margin: auto;
  box-shadow: 30px 0px 40px rgba(255, 255, 255, 0.2),
    -30px 0px 40px rgba(255, 255, 255, 0.2);
}

#landing {
  background: url(/images/IMG_2282.JPG);
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}

#landing-text {
  display: flex;
  flex: 0 1 50vw;
  height: 0 1 50vh;
  justify-content: center;
  align-items: top;
  text-align: center;
  padding-right: 1rem;
  padding-left: 1rem;
}

#landing-text h2 {
  color: #888;
}

#landing-image {
  display: flex;
  height: 0 1 50vh;
  flex: 0 1 50vw;
  margin: 0;
  justify-content: center;
  align-items: top;
  text-align: center;
  padding-bottom: 2rem;
}

#spotify {
  display: inline-block;
  position: relative;
  overflow: hidden;
}

.follow {
  position: relative;
  padding-left: 27.5%;
  padding-bottom: 1rem;
}

.btn {
  padding: 0.5rem 2rem;
  border: 1px #ccc solid;
  display: inline-block;
  margin: 2rem 0 0;
  border-radius: 10px;
  text-decoration: none;
  color: #333;
  transition: background 500ms ease;
}

.btn:hover {
  background: #f4f4f4;
}

#header {
  padding: 1rem;
  text-align: center;
  background: #333;
  color: #fff;
}

#header h2 {
  border-left: dotted 1px #fff;
  border-right: dotted 1px #fff;
  display: inline-block;
  padding-right: 1rem;
  padding-left: 1rem;
}

#base {
  padding: 1rem;
  text-align: center;
  background: #333;
  color: #fff;
  font-family: "Permanent Marker", cursive;
  position: sticky;
  bottom: 0px;
}

#base h2 {
  border-left: dotted 1px #fff;
  border-right: dotted 1px #fff;
  text-align: left;
  display: inline-block;
  padding-right: 1rem;
  padding-left: 1rem;
}

.caption {
  padding: 0.8rem;
  text-align: center;
  background-color: #f3f3f3;
}

.iframe-container {
  overflow: hidden;
  padding-top: 56.25%;
  position: relative;
}

.iframe-container iframe {
  border: 0;
  height: 100%;
  left: 0;
  position: absolute;
  top: 0;
  width: 100%;
}

footer {
  text-align: center;
  padding: 2rem 1rem;
  color: #333;
}

footer h3 {
  font-size: 1rem;
  margin-bottom: 0;
}

/*screen sizes >= 500px */

@media (min-width: 500px) {
  #landings {
    display: flex;
    height: 100%;
  }

  #landing-text {
    height: 30vh;
  }

  #landing-image {
    height: 70vh;
    overflow: hidden;
    position: relative;
  }

  #spotifyy {
    border: 0;
    height: 100%;
    left: 0;
    position: absolute;
    top: 0;
    width: 100%;
    padding-top: 50%;
  }

  .caption {
    padding: 0.8rem;
    text-align: center;
    background-color: #f3f3f3;
    padding-left: 5rem;
    padding-right: 5rem;
  }
}

/*screen sizes >= 700px */

/*@media (min-width: 700px) {
  .btn {
    padding: 1rem 3rem;
  }
}*/
